html{
    background-image:  url('https://previews.123rf.com/images/svglass/svglass1909/svglass190900015/133576437-saint-petersburg-russia-aug-13-2019-free-bus-from-novocherkasskaya-metro-station-to-the-okhta-mall-s.jpg')  ;
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center center;
  
}

table img{
    
    float: right;
    padding-right:  60px; ;
    width: 50%;
    height: 50%;
}
header{
    font-size:200%;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(214, 15, 15);

}
 td{
   
    border: solid black;
    height: 250px;
}
table{
    
    border:solid black;
    width: 70%;
    display: inline-block;
    float: right;
    height: 265px;
    margin-top: 16px;
}
#resultbox{
    backdrop-filter: blur(10px);
    color:rgb(18, 1, 19);
    position: relative;
    display: inline-block;
    border:solid rgb(12, 12, 12);
    width: 25%;
    height:500px;
    font-weight: 600;
}
.two{
    backdrop-filter: blur(10px);
    
    position: absolute;
    top: 450px;
    text-align: center;
    margin-left: 30px;
    border:solid black;
    width: 68%;
    display: inline-block;
    float: right;
    height: 150px;
    margin-top: 16px;
    color: rgb(136, 9, 9);
    text-indent: 50px ;
    font-weight: 700;

}
