html{
   background-image:  url('https://previews.123rf.com/images/svglass/svglass1909/svglass190900015/133576437-saint-petersburg-russia-aug-13-2019-free-bus-from-novocherkasskaya-metro-station-to-the-okhta-mall-s.jpg')  ;
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center center;
    
    background-color: rgba(160, 151, 151, 0.5);
    background-blend-mode: screen;

 }

table img{
    
    float: right;
    padding-right:  30px;
    padding-left:  30px;
    width: 280px;
    height: 250px;
}
header{
    font-size:200%;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(214, 15, 15);

}
 td{
   
    border: solid black;
    height: 250px;
}
table{
    
    border:solid black;
    width: 70%;
    display: inline-block;
    margin-left: 200px;
    height: 265px;
    margin-top: 16px;
    margin-bottom: 50px;
}

.two{
    backdrop-filter: blur(10px);
    
    position: absolute;
    top: 450px;
    text-align: center;
    margin-left: 30px;
    border:solid black;
    width: 68%;
    display: inline-block;
    float: right;
    height: 150px;
    margin-top: 16px;
    color: rgb(85, 26, 26);
    text-indent: 50px ;
    font-weight: 700;

}

canvas{
margin-left: 20%;
}

